[mysqld]
# root유저 사용해야 비번 사용 x
user = root
# 데이터 저장할 위치
datadir = /var/lib/mysql
port = 3306
# 로그파일 저장할 위치
log-bin = /var/lib/mysql/mysql-bin
# 0.0.0.0 : 모든 외부아이피에서 접근 허용
bind-address = 0.0.0.0
# 다른컨테이너에서 접근 허용(true로 하면 로컬접근만 가능)
skip-networking = false